.event-card {
  background: #2a2a3d;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(38, 242, 79, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: translateY(-5px) scale(1.02);
}

.event-card:hover {
  box-shadow: 0 12px 30px rgba(183, 77, 235, 0.7);
}

.event-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-bottom: 2px solid #6c63ff;
}

.event-card:hover .event-image img {
  transform: scale(1.1);
}

.event-type {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(45deg, #ff6ec4, #6c63ff);
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.event-content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.event-title {
  font-size: 1.4rem;
  font-weight: 700;
  background: linear-gradient(90deg, rgb(68, 23, 216), rgb(123, 214, 123));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.event-date {
  color: #ffffff;
  font-weight: bold;
}

.event-location ,.event-seats {
  color: #dddddd;
  font-weight: bold;
}

.event-organizer {
  color: #bbbbbb;
  font-weight: bold;
  flex-wrap: wrap;
}
.location-text {
  color: #28a745;          
  cursor: pointer;
  font-weight: 600;
   color: rgb(65, 214, 92);
  text-shadow: 0 0 8px rgba(230, 57, 70, 0.6);
}
.event-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ccc;
  font-size: 0.9rem;
}

.event-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.event-price {
  font-weight: 700;
  background: linear-gradient(90deg, #6effc0, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.5);
}

/* Responsive */
@media (max-width: 576px) {
  .event-footer {
    flex-direction: column;
    gap: 0.8rem;
  }
  .btn {
    width: 100%;
  }
}
